body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
}
 
ul,li{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
    border: none;
    font-family: inherit;
}


.container {
    width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

/* #startregion header */

.header-container{
    display: flex;
    align-items: center;
}

.navigation{
    display: flex;
    gap: 237px;
    margin-right: auto;
}

.logo-header{
    font-weight: 700;
    font-size: 30px;
    display: flex;
    gap: 16px;
    align-items: center;
    line-height: 0.94;
    color: #173a56;

}

.nav-list{
    display: flex;
    gap: 30px;
}

.nav-list-item{

}

.nav-list-link{
    font-weight: 400;
    font-size: 16px;
    padding: 26px 0;
    display: block;
}

.header-list-btn{
    display: flex;
    gap: 21px;
}

.header-list-btn-item{

}

.header-btn{
    font-weight: 600;
    font-size: 16px;

}

.sing-up{
    border-radius: 4px;
    width: 113px;
    height: 42px;
    background: #02897a;
    color: #fff;
}

.sing-in{
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 105px;
    height: 42px;
}

/* #endregion header */


/* #startsection hero */
.hero{

}
.hero-container{
    display: flex;
    align-items: center;
}
.text-wrap{
   
}

.main-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #22343d;
    padding-bottom: 18px;
}

.tittle-descr{
    font-weight: 400;
     font-size: 18px;
     line-height: 1.56;
     color: #22343d;
     margin-bottom: 45px;

}

.hero-list-btn{
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero-list-btn-item{

}

.container-icon-triangle{
    display: flex;
    align-items:center;
    gap: 2px;
}



 .hero-btn-get{
    border-radius: 4px;
    width: 178px;
    height: 53px;
    background: #02897a;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border: none;
}

.hero-btn-watch{
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
    width: 178px;
    height: 53px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 9px;
 }

/* #endsection hero*/

/* #startsection specifically */

.specifically{
padding: 50px 0;  
}

.specifically-title{
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    max-width: 500px;
    margin: 0 auto 50px;
}

.specifically-item-subtitle{
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
    margin-bottom: 12px;
}

.specifically-item-descr{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
}

.specifically-list{
    display: flex;
    align-items: center;
    gap: 30px;
}
.specifically-list-item{
width: calc((100% - 90px) / 4);
}

.icons-list-item{
    width: 54px;
    height: 54px;
    margin-bottom: 18px;
}

.icons-list-item .uparrow-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #02897a;
    border-radius: 19px;
    width: 100%;
    height: 100%;
}

   .icon-img{
    fill: #fff;
        }
    
    .icons-list-item .wave-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#4d8dff;
    border-radius: 19px;
    width: 100%;
    height: 100%;
    }

    .icons-list-item .heart-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #740a76;;
    border-radius: 19px;
    width: 100%;
    height: 100%;}
   
    .icons-list-item .untitled-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f03e3d;
    border-radius: 19px;
    width: 100%;
    height: 100%;
}


.specifically-btn{
  cursor: pointer;  
  background-color:#02897a; 
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
 min-width: 175px;
 height: 53px;
display: block;
margin-left: auto;
margin-right: auto;
padding: 14px 32px;
border: none;
margin-top: 50px;
}


/* #endsection specifically */